.search-form {
    background: black;
    padding: 10px 30px;
    border-radius: 20px;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #6cc644;
}

.search-form form {
    margin: 10px 0;
}

.search-form input {
    width: 70%;
}

.search-form input,
.search-form button {
    outline: none;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

.search-form button {
   padding: 14px 40px;
   background: rgb(0, 157, 255);
   margin: 0 8px;
   color: #f5f5f5;
}

.search-results {
    background-color: black;
    color: #6cc644;
    padding: 20px 30px;
    margin: 20px 0;
    border-radius: 20px;
}

.user {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    align-items: center;
    padding: 0px 0px;
}

.user .image {
    width: 20%;
}

.user .image img {
    width: 100%;
    border-radius: 10%;
}

.user-info *{
    display: block;
    padding: 0 10px;
}