.user-information {
    background: black;
    padding: 10px 40px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #c4c4c4;
}

.user-information .image {
    width: 30%;
}

.user-information .image img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.user-content {
    padding: 20px;
    color: #6cc644;
    width: 60%;
}

.more-data {
    font-size: 15px;
    font-weight: 100;
}

.more-data p {
    padding: 5px 0;
}

.back {
    background: rgb(0, 157, 255);
    color: white;
    border-radius: 20px;
    padding: 10px;
    display: inline-block;
    margin: 10px 0;
}

.user-repos {
    background-color: black;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
}

.repo {
    padding: 10px;
    border-bottom: 1px solid White;
}

.repo a {
    color: rgb(0, 157, 255);
}